.topLogoHeight {
    height: 7.5vw;
}

.topNavMargin {
    padding-left: 5%;
    padding-right: 5%;
}

.topNavMarginDesigner {
    padding-left: 25vw;
    padding-right: 5%;
}

.textAlignCenter {
    text-align: center;
}

.clipimg {
    object-fit: contain;
}

.socialMediaIcon {
    width: 75px;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.homeOverlapNote {
    position: absolute;
    left: 10vw;
    top: 100vw;
    z-index: 1;
    width: 30vw;
    height: auto;
}

.appointmentInquiry {
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.roundCorner {
    border-radius: 25px;
}

.appointmentFormBG {
    width: 50vw;
}

.cardMargin {
    margin: 2%;
}



/* CSS (Mobile Version)*/
@media screen and (max-width: 420px) {
    .topLogoHeight {
        height: 20vw;
    }

    .topNavMargin {
        padding-left: 0%;
        padding-right: 0%;
    }

    .homeOverlapNote {
        position: absolute;
        left: 10vw;
        top: 120vw;
        z-index: 1;
        width: 40vw;
        height: auto;
    }

    .roundCorner {
        border-radius: 10px;
    }

    .appointmentFormBG {
        width: 80vw;
    }


}

/* CSS (Mobile Version)*/
@media screen and (max-width: 992px) {

    .topNavMarginDesigner {
        padding-left: 0%;
        padding-right: 0%;
    }
}